/* -------  General Styles ------- */

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin-bottom: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

#menu {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

form div {
  display: flex;
  justify-content:space-between;
}

/* -------  About ------- */

#about {
  display: flex;
  flex-direction: column;
}

img.item {
  width: 100%;
}

img.item-double {
  width: 100%;
}

#host img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
  }

  form {
    display: flex;
    justify-content:space-between;
    gap: .5rem;
  }

  form div {
    display: flex;
    flex-direction: column;
    min-width: 0;
  }

  form button {
    max-width: 20%;
  }

  form select,
form input {
  margin-bottom: 20px;
  width: 100%;
}

  .group {
    flex-direction: row;
    align-items: center;
    gap: 10px
  }

  #about .group img.item {
    width: 0;
  }
  
  img.item-double {
    width: 0;
  }

  #ideas .group {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #host .group img.item {
    width: 0;
  }

}

@media all and (min-width: 1000px) {
  form select,
  form input {
    margin-bottom: 20px;
    width: 180px;
  }
}